@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Check Austin Rutledge Out on the web on his Facebook page <a href="https://www.facebook.com/austin.rutledge.37">here</a></h1>



