@{
    ViewData["Title"] = "Home Page";
}

<h1>This is the Fansite of the one and the only Austin James Rutledge</h1>

<img src="~/images/image8.jpg" style="width: 500px; height: 500px; position: relative; left: 25%;" />

<p>Austin Rutledge is a rocket scientist. He has appeared on the cover of GQ – twice. And after mastering Italian, He became an international super spy. Right now, He is yachting his way across the Caribbean, stealing top-secret information, and sipping mai tais… shaken, not stirred.
Okay, fine. But he does like a good mai tai and he got a B+ in his 5th grade science class. Message him for more straight talk, and he will send you FB links, photos of science fair trophies, and much MUCH more…</p>