@model FanSite.Models.StoryResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thank you for your story!</h1>
       
    </p>
    <p>Click <a asp-action="Contact">here</a> to see other stories from people like you.</p>
</body>
</html>